<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%;">
<head>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/password-2" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Jabba | Account</title>
    <link rel="icon" th:href="@{/icons/jabba.png}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <script>
        function closeIFrame(username) {
            window.location = "/account/" + username;
        }
    </script>

    <style>
        ::-webkit-scrollbar {
            display: none;
        }

        #navbarDropdownMenuLink:hover {
            color: red;
        }
    </style>
</head>

<body style="height: 100%">
<div class="px-0 container-fluid" th:styleappend="|filter: blur(${blur})|">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-12">

            <nav class="navbar sticky-top navbar-expand-xl navbar-light"
                 style="background-color: white; border-bottom: 2px solid #d9d9d9">
                <a href="/">
                    <img alt="jabba?" class="d-block ml-5 mr-2" src="../static/icons/jabba.png"
                         th:src="@{/icons/jabba.png}"
                         width="75px">
                </a>
                <a class="display-4" href="/" style="color: black; text-decoration: none; font-family: PASSWORD,serif">Jabba</a>
                <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler" data-target="#navbarNavDropdown" data-toggle="collapse"
                        style="border: 2px solid black; border-radius: 20px" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link h4 px-4 mt-3" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link h4 px-4 mt-3" href="/new">New Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link h4 px-4 mt-3" href="/latest/0">Latest</a>
                        </li>
                        <li class="nav-item active dropdown">
                            <a aria-expanded="false" aria-haspopup="true"
                               class="nav-link dropdown-toggle h4 px-4 mt-3" data-toggle="dropdown"
                               id="navbarDropdownMenuLink" role="button"
                               th:text="${myUsername}"
                               style="background-color: #E9C996; border: 2px solid red; border-radius: 30px">test</a>
                            <div aria-labelledby="navbarDropdownMenuLink"
                                 class="dropdown-menu dropdown-menu-right p-1"
                                 style="margin-top: 9px; border: 2px solid #d9d9d9; border-top: 2px solid white; border-radius: 0 0 10px 10px;">
                                <a class="dropdown-item mb-2"
                                   style="background-color: #E9C996; color: black; border-radius: 25px"
                                   th:href="|/account/${myToken}|">Account</a>
                                <a class="dropdown-item"
                                   style="background-color: grey; color: white; border-radius: 25px"
                                   href="/logout">Log Out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="my-5 row justify-content-center">
                <div class="col-12 col-xl-9" style="background-color: white">
                    <img id="image" style="vertical-align: middle; width: 300px; height: 300px; border-radius: 50%;"
                         class="mx-auto d-block" th:src="${image}" alt="profile?" onerror="this.src='0/image'">
                    <p th:text="${username}" class="text-center my-3 h3">username</p>
                    <p th:text="${current}" class="text-center my-3 h6">token</p>
                    <p style="background-color: white; width: 20em;" class="mx-auto text-break my-4 h4"
                       th:text="${description}">text</p>
                    <div style="background-color: white; width: 20em;" class="mx-auto text-break my-4 h4">
                        <a class="user-href-post" data-toggle="collapse" role="button" href="#collapseSubs" aria-expanded="false" aria-controls="collapseSubs">List of subscriptions</a>
                    <div class="collapse btn-group" id="collapseSubs" th:each="sub: ${subscriptions}">
                        <a th:href="|/account/${sub}|" class="user-href-post"><small th:text="${sub}"></small></a>
                        <a th:if="${owner}" id="btn-unsubscribe-self" th:href="|/unsubscribe/${sub}/1|"
                           class="btn btn-secondary ml-3" style="background-color: darkred;" type="button">
                            UnSubscribe
                        </a>
                    </div>
                    </div>

                    <div class="d-flex justify-content-center m-3 pb-3">
                        <div th:if="${owner}" class="btn-group" role="group">
                            <button id="btn-edit-picture" type="button"
                                    th:attrappend="onclick=|window.location='/account/${current}?editPicture'|"
                                    class="btn btn-secondary btn-edit">
                                Edit Picture
                            </button>
                            <button id="btn-edit-username" type="button"
                                    th:attrappend="onclick=|window.location='/account/${current}?editName'|"
                                    class="btn btn-secondary btn-edit">
                                Edit Username
                            </button>
                            <button id="btn-edit-password" type="button"
                                    th:attrappend="onclick=|window.location='/account/${current}?editPassword'|"
                                    class="btn btn-secondary btn-edit">
                                Edit Password
                            </button>
                            <button id="btn-edit-description" type="button"
                                    th:attrappend="onclick=|window.location='/account/${current}?editDescription'|"
                                    class="btn btn-secondary btn-edit">
                                Edit Description
                            </button>
                            <button id="btn-edit-token" type="button"
                                    th:attrappend="onclick=|window.location='/account/${current}?editToken'|"
                                    class="btn btn-secondary btn-edit">
                                Rebuild token
                            </button>
                        </div>
                        <div th:if="!${owner}" class="btn-group" role="group">
                            <a th:if="!${subscribed}" id="btn-subscribe" th:href="|/subscribe/${current}|"
                               class="btn btn-secondary btn-edit" type="button">
                                Subscribe
                            </a>
                            <a th:if="${subscribed}" id="btn-unsubscribe" th:href="|/unsubscribe/${current}/0|"
                               class="btn btn-secondary" style="background-color: darkred;" type="button">
                                UnSubscribe
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-xl-9 d-flex justify-content-around flex-wrap" style="background-color: white">
            <div th:each="post: ${posts}" class="card mb-3 mt-3" style="width: 18rem;">
                <img class="card-img-top" width="300px" height="300px" th:src="|/post/image/${post.id}|" alt="Post">
                <div class="card-body">
                    <h6 class="card-title" style="font-family: 'Courier New', serif" th:text="${post.date}"></h6>
                    <a class="user-href-post" th:href="|/account/${post.userToken}|"><h6 class="card-title"
                                                                                         style="font-family: 'Comic Sans MS', serif; font-size: small;"
                                                                                         th:text="${current}">Token</h6>
                    </a>
                    <p class="card-text" th:text="${post.description}">Description</p>
                </div>
            </div>
        </div>
    </div>
</div>

<iframe src="/account-editPicture" th:if="${param.editPicture} and ${owner}" class="frame-edit">
</iframe>
<iframe src="/account-editName" th:if="${param.editName} and ${owner}" class="frame-edit">
</iframe>
<iframe src="/account-editPassword" th:if="${param.editPassword} and ${owner}" class="frame-edit">
</iframe>
<iframe src="/account-editDescription" th:if="${param.editDescription} and ${owner}" class="frame-edit">
</iframe>
<iframe src="/account-editToken" th:if="${param.editToken} and ${owner}" class="frame-edit">
</iframe>
</body>
</html>
