<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%;">
<head>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/password-2" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Jabba | New Post</title>
    <link rel="icon" th:href="@{/icons/jabba.png}">

    <script th:inline="javascript">
        function closeIFrame(num) {
            if (num === 1) {
                window.location = "/index?registrationmsg";
            } else {
                window.location = "/";
            }
        }
    </script>

    <style>
        ::-webkit-scrollbar {
            display: none;
        }

        #current:hover {
            color: red;
        }
    </style>
</head>
<!--#fafafa-->
<body style="background-color: #fafafa; height: 100%;" th:styleappend="|overflow: ${overflow}|">
<div class="px-0 container-fluid" th:styleappend="|filter: blur(${blur})|">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-12">

            <nav class="navbar sticky-top navbar-expand-xl navbar-light"
                 style="background-color: white; border-bottom: 2px solid #d9d9d9">
                <div th:if="${param.logoutmsg}" class="mr-5" style="color: black; position: absolute; right: 0; top: 0">
                    You
                    have successfully logged out.
                </div>
                <div th:if="${param.registrationmsg}" class="mr-5"
                     style="color: black; position: absolute; right: 0; top: 0">You
                    have successfully registered.
                </div>
                <div th:if="${param.updatemsg}" class="mr-5" style="color: black; position: absolute; right: 0; top: 0">
                    You
                    have successfully updated your account.
                </div>
                <div th:if="${param.deletemsg}" class="mr-5" style="color: black; position: absolute; right: 0; top: 0">
                    You
                    have successfully deleted your account.
                </div>

                <a onclick="parent.location.href='/'">
                    <img alt="jabba?" class="d-block ml-5 mr-2" src="../static/icons/jabba.png"
                         th:src="@{/icons/jabba.png}"
                         width="75px">
                </a>
                <a onclick="parent.location.href='/'" class="display-4" style="color: black; text-decoration: none; font-family: PASSWORD,serif">Jabba</a>
                <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler" data-target="#navbarNavDropdown" data-toggle="collapse"
                        style="border: 2px solid black; border-radius: 20px" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a onclick="parent.location.href='/home'" id="current" class="nav-link h4 px-4 mt-3">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link h4 px-4 mt-3" href="/new"
                               style="background-color: #E9C996; border: 2px solid red; border-radius: 30px">New Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link h4 px-4 mt-3" href="/latest/0">Latest</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" aria-haspopup="true"
                               class="nav-link dropdown-toggle h4 px-4 mt-3" data-toggle="dropdown"
                               id="navbarDropdownMenuLink" role="button"
                               th:text="${username}"></a>
                            <div aria-labelledby="navbarDropdownMenuLink"
                                 class="dropdown-menu dropdown-menu-right p-1"
                                 style="margin-top: 9px; border: 2px solid #d9d9d9; border-top: 2px solid white; border-radius: 0 0 10px 10px;">
                                <a class="dropdown-item mb-2"
                                   style="background-color: #E9C996; color: black; border-radius: 25px"
                                   th:attr="href=${linkInOrAccount}">Account</a>
                                <a class="dropdown-item"
                                   style="background-color: grey; color: white; border-radius: 25px"
                                   href="/logout">Log Out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>


            <div class="mt-5 container-fluid">
                <div class="row justify-content-center">
                    <div class="col-10 col-xl-5" style="z-index: 2">
                        <div>
                            <form action="#" th:action="@{/new}" method="post" enctype="multipart/form-data">
                                <div th:if="${success}" class="mx-5 px-5" style="color: darkslategray">
                                    <p>Post successfully created!</p>
                                </div>

                                <div class="mx-5 px-5 m-auto">
                                    <hr style="background-color: #E9C996; height: 3px; border: 0;">
                                    <h4>Picture</h4>
                                    <br>
                                    <input type="file" th:name="picture" id="picture" accept="image/*" class="form-control" required>
                                    <hr style="background-color: #E9C996; height: 3px; border: 0;">
                                    <h4>Description</h4>
                                    <br>
                                    <input required type="text" id="description" name="description" class="form-control"
                                           placeholder="Description for post"/>
                                    <hr style="background-color: #E9C996; height: 3px; border: 0;">
                                </div>
                                <div th:if="${badcred}" class="mx-5 px-5" style="color: red">
                                    <p>Description must be from 3 to 50 letters!</p>
                                </div>
                                <div class="d-flex justify-content-center m-3 pb-3">
                                    <button type="submit" class="btn btn-secondary btn-lg"
                                            style="color: black; background-color: #E9C996; border-color: white; border-radius: 30px">
                                        Create post!
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
