<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Error :(</title>
    <link rel="icon" th:href="@{/icons/jabba.png}">
    <style>
        ::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>
<body>
<div class="mt-4 container-fluid">
    <div class="row justify-content-center">
        <div class="col-10 col-xl-5">
            <div style="border: 2px solid red; border-radius: 25px">
                <p class="text-center display-4 pb-3" style="color: black">Something went wrong :(</p>
                <div class="d-flex justify-content-center m-3 pb-3">
                    <button class="btn btn-secondary btn-lg pb-3" onclick="location.href='/'"
                            style="color: black; background-color: #E9C996; border-color: white; border-radius: 30px"
                            type="button">Go Home...
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>