<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.cdnfonts.com/css/password-2" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Jabba | Authorization</title>
    <link rel="icon" th:href="@{/icons/jabba.png}">

    <style>
        ::-webkit-scrollbar {
            display: none;
        }
    </style>

    <script>
        function showPassword() {
            const x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

        function exit() {
            try {
                parent.closeIFrame(0);
            } catch (e) {
            }
            window.location = "/";
        }
    </script>
</head>
<body style="background-color:  transparent;" th:attr="onload=${onload}">
<div style="z-index: 1; width: 100%; height: 100%; position: absolute; top: 0; right: 0"
     onclick="parent.closeIFrame(0);"></div>
<div class="mt-4 container-fluid">
    <div class="row justify-content-center">
        <div class="col-10 col-xl-5" style="z-index: 2">
            <div style="background-color: white; border-radius: 25px; border: 2px solid red">
                <p class="text-center display-4" style="font-family: PASSWORD,serif">Jabba</p>

                <form action="#" th:action="@{/perform-login}" method="post">

                    <div class="mx-5 px-5 form-group form-group-lg">
                        <label for="token" class="h4">Token</label>
                        <input type="text" id="token" name="token" class="form-control"
                               placeholder="Enter Your Token"/>
                    </div>

                    <div class="mx-5 px-5" style="position: relative">
                        <label for="password" class="h4">Password</label>
                        <input type="password" id="password" name="password" class="form-control"
                               placeholder="Enter Your Password"/>
                        <img onclick="showPassword()" alt="lock?" class="d-block" src="../static/icons/lock.png"
                             th:src="@{/icons/lock.png}"
                             style="width: 30px; position: absolute; left: calc(100% - 15px); bottom: 3px">
                    </div>

                    <div th:if="${param.error}" class="mx-5 px-5" style="color: red">
                        <p>Wrong name or password!</p>
                    </div>

                    <div class="d-flex justify-content-center m-3 pb-3">
                        <button type="submit" class="btn btn-secondary btn-lg"
                                style="color: black; background-color: #E9C996; border-color: white; border-radius: 30px">
                            Log In
                        </button>
                        <button type="button" onclick="window.location='/registration'"
                                class="btn btn-secondary btn-lg pb-3 mx-4"
                                style="background-color: grey; border-color: white; border-radius: 30px">Registration
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>